@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

:root{
    --font: "Press Start 2P";
    --brown: #221;
    --light_yellow: #fff090;
    --green: #4FAF44;
    --yellow: #F6EB14;
    --black: rgba(0,0,0,0.2);
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

html, body {
    margin: 0;
    font-family: var(--font);
    background-color: var(--brown);
    text-transform: uppercase;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    border-bottom: var(--yellow) 1px solid;
    color: var(--yellow);
    text-decoration: underline;
}

.navbar p{
    font-size: 1.1em;
}

.acc{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-inline: 60px;
    margin-top: 70px;
}

.pres{
    text-align: center;
    color: var(--yellow);
}

.acc h1{
    color: var(--yellow);
    text-align: center;
}

.card-container{
    display: flex;
    justify-content: space-between;
    margin-inline: 140px;
}
.card{
    background-color: var(--yellow);
    align-content: center;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    animation: zoom 1s infinite ease-in-out;
}

.card:hover{
    cursor: pointer;
}

.card p{
    text-align: center;
}